{{! Youtube demo}}
<div class="card Medium hoverable">
    <div class="card-action">
        <a target="_blank" class="{{>shared_db_header_hover}}"><i class="fa fa-video-camera" aria-hidden="true"></i> Video</a>
    </div>
         <div class="card-image">
              <a class="gallery-cover gray" target="_blank" href="https://vimeo.com/163058179">
                            <img class="activator" src="{{asset "img/VimeoDemoThumbnail.jpg"}}">
                        </a>
        </div>
        
    
    <div class="card-content">
        <p class="grey-text text-darken-2">A flash moive I did in 2011.</p>
    </div>
    
<!--     <div class="card-image">
              <a class="gallery-cover gray" target="_blank" href="https://www.youtube.com/watch?v=9BYGYzdonMU">
                            <img class="activator" src="{{asset "img/YoutubeDemoThumbnail.jpg"}}">
                        </a>
        </div>
    
        
    
    <div class="card-content">
        <p class="grey-text text-darken-2">Android Campus GPS App</p>
    </div> -->
    
    
</div>
