{{! Youtube demo}}
<div class="card Medium hoverable">
    <div class="card-action">
        <a href="https://www.youtube.com/channel/UClWD1EqK-qYEC-mLPVNzysg" target="_blank"><i class="fa fa-video-camera" aria-hidden="true"></i> Video</a>
    </div>
         
    <div class="video-container">
        <iframe src="" data-src="https://player.vimeo.com/video/163058179?color=ffffff&title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        {{> shared_spinner}}
    </div>
    
    <div class="card-content">
        <p class="grey-text text-darken-2">A flash moive I did in 2011. Naive but full of love.</p>
    </div>
    
    <div class="video-container">
        <iframe src="" data-src="https://www.youtube.com/embed/9BYGYzdonMU" frameborder="0" allowfullscreen></iframe>
        {{> shared_spinner}}
    </div>
    
    <div class="card-content">
        <p class="grey-text text-darken-2">Android Campus GPS App</p>
    </div>
    
    
</div>
