{{! iOS Blog}}
<div class="card Medium hoverable">
    <div class="collection">
        <div class="card-action">
            <a href="/blog" target="_blank"><i class="fa fa-pencil" aria-hidden="true"></i> iOS</a>
        </div>
        <div class="card-action">
            {{> shared_comingsoon}}
        </div>
    </div>
</div>

            



