{{! Contact me}}
<div class="card Medium hoverable">
    
        
        
    <div class="collection">
        <div class="card-action">
            <a href="https://play.spotify.com/user/babyshung" target="_blank">
                <i class="fa fa-smile-o" aria-hidden="true"></i> Contact Me
            </a>
        </div>
        
        <div class="divider"></div>
        
        {{! book }}
        <a href="#!" class="collection-item grey-text text-darken-1">Email</a>
        <a href="#!" class="collection-item grey-text text-darken-1">LinkedIn</a>
        <a href="#!" class="collection-item grey-text text-darken-1">Weibo</a>
        
        
    </div>
        
        
</div>
