{{! BOOKS BLOG}}
<div class="card Medium hoverable">
    <div class="collection">
        <div class="card-image">
                  <img src={{asset "img/SM_Light.jpg"}}>
              <span class="card-title grey-text text-darken-2">Books I'm reading</span>
        </div>
    
        {{! book }}
        <a href="#!" class="collection-item grey-text text-darken-1">《自控力》</a>
        <a href="#!" class="collection-item grey-text text-darken-1">《中国人太多了吗》</a>
        <a href="#!" class="collection-item grey-text text-darken-1">《从0到1》</a>
        
        
    </div>
</div>

            

