{{! BOOKS BLOG}}
<div class="col s12 m7 l4">
<div class="card Medium hoverable">
    <div class="collection">
    <div class="card-image">
              <img src={{asset "img/SM_Light.jpg"}}>
              <span class="card-title grey-text text-darken-2">Books I'm reading</span>
    </div>
    
        {{! book }}
        <div class="card-content">
        <div class="card-header grey-text text-darken-2">
            <p>《自控力》</p>
        </div>
        </div>

        {{! book }}
        <div class="card-content">
        <div class="card-header grey-text text-darken-2">
            <p>《中国人太多了吗》</p>
        </div>
        </div>
        
        {{! book }}
        <div class="card-content">
        <div class="card-header grey-text text-darken-2">
            <p>《从0到1》</p>
        </div>
        </div>
    </div>
</div>
</div>

            

