{{! BOOKS BLOG}}
<div class="card Medium hoverable">
    <ul class="collection">
        <li>
        <div class="card-image waves-effect waves-block waves-light">
              <img src={{asset "img/SM_Light.jpg"}}>
              <span class="card-title grey-text text-darken-2">Books I'm reading</span>
        </div>
        </li>
        
        <div class="divider"></div>
   
        {{! book }}
        {{#get "posts" limit="all" filter="tag:booklist"}}
            {{#foreach posts limit="3"}}
                <li class="collection-item"><div>{{title}}<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                {{!--
                <li class="collection-item"><a href="#!" class="grey-text text-darken-1">{{title}}<span class="new badge orange right" data-badge-caption="">Reading</span></a></li>
                --}}
                
           {{/foreach}}
        {{/get}}
        
        {{! book list}}
        <li>
            <a href="tag/booklist" target="_blank" class="collection-item grey-text text-darken-1 center-align hvr-icon-wobble-horizontal hvr-shutter-in-horizon"><i class="fa fa-book" aria-hidden="true"></i> Book List</a>
        </li>

    </ul>
</div>

            

