{{! My Projects}}
<div class="card Medium hoverable">
    <div class="collection">
        <div class="card-action">
            <a href="/blog" target="_blank"><i class="fa fa-mobile" aria-hidden="true"></i> Projects</a>
        </div>
        <div class="divider"></div>
        <div class="card-content">
            {{> shared_comingsoon}}
        </div>
    </div>
</div>

            

