{{! GALLERY}}
<div class="col s12 m7 l4">
          <div class="card Medium hoverable">
              <div class="card-action">
              <a href="#">Gallery</a>
            </div>
            <div class="card-image">
              <img src={{asset "img/SM_Bibycle.jpg"}}>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
          </div>
        </div>