{{! Contact me}}
<div class="card Medium hoverable">
    
    <div class="collection">
        <div class="card-action">
            <a class="{{>shared_db_header_hover}}">
                <i class="fa fa-smile-o" aria-hidden="true"></i> Contact Me
            </a>
        </div>
        
        <div class="divider"></div>
        
        {{! book }}
        <a href="{{> shared_mailto}}" class="collection-item grey-text text-darken-1">Email<i class="right fa fa-envelope" aria-hidden="true"></i></a>
        <a href="{{> shared_linkedIn}}" target="_blank" class="collection-item grey-text text-darken-1">LinkedIn<i class="right fa fa-linkedin" aria-hidden="true"></i></a>
        <a href="http://weibo.com/zhenghaolibertine" target="_blank" class="collection-item grey-text text-darken-1">Weibo<i class="right fa fa-weibo" aria-hidden="true"></i></a>
        
        
    </div>
        
        
</div>
