{{! iOS Blog}}
<div class="col s12 m7 l4">
<div class="card Medium hoverable">
    <div class="collection">
        <div class="card-action">
            <a href="/blog" target="_blank"><i class="fa fa-mobile" aria-hidden="true"></i> Projects</a>
        </div>
                    <div class="card-action">
                            <div class="card-header">
                                {{!post meta (time posted, tags)}}

                            </div>
                            {{!Post Content with limitation of 50 words}}
                            <p class="grey-text text-darken-2">Coming soon...</p>
                        </div>
    </div>
</div>
</div>

            

