{{! iOS Blog}}
<div class="card Medium hoverable">
    <div class="collection">
        <div class="card-action">
            <a target="_blank" class="{{>shared_db_header_hover}}"><i class="fa fa-pencil" aria-hidden="true"></i> iOS</a>
        </div>
        <div class="divider"></div>
        <div class="card-content">
            {{> shared_comingsoon}}
        </div>
    </div>
</div>

            



