{{! iOS Blog}}
<div class="col s12 m7 l4">
<div class="card Medium hoverable">
    <div class="card-action">
      <a href="/blog" target="_blank"><i class="fa fa-pencil" aria-hidden="true"></i> iOS</a>
    </div>
    <div class="collection">

                    <div class="card-content">
                            <div class="card-header">
                                {{!post meta (time posted, tags)}}

                            </div>
                            {{!Post Content with limitation of 50 words}}
                            <p><a href="{{url}}" class="grey-text text-darken-2">Coming soon...</a></p>
                        </div>
    </div>
</div>
</div>

            

