{{! About me}}
<div class="col s12 m7 l4">
    <div class="card Medium hoverable">
    <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src={{asset "img/SM_Antarctic.jpg"}}>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
      <p><a href="#">About me</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">About me<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
    </div>
</div>