{{! About me}}
<div class="col s12 m7 l4">
    <div class="card Medium hoverable">
    <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src={{asset "img/SM_Iceland.jpg"}}>
        <span class="card-title grey-text text-darken-1 otherCopyRights right">Photo From Smartisan</span>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-2">About me<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-2">About me<i class="material-icons right">close</i></span>
      <p class="grey-text text-darken-2">My name is Hao Zheng, Software Engineer at <a href="https://www.alarm.com" target="_blank" class="amber-text text-accent-4">Alarm.com</a></p>
    </div>
  </div>
    </div>
</div>