{{! GALLERY}}
<div class="card Medium hoverable"> 
    <div class="card-action">
        <a href="/gallery"><i class="fa fa-cloud" aria-hidden="true"></i> Gallery</a>
    </div>
    <div class="card-image waves-effect waves-block waves-light">
        <a href="/gallery"><img class="activator" src="{{asset "img/SM_Bibycle.jpg"}}"></a>
    </div>
    <div class="card-content">
        <p class="grey-text text-darken-1">Can't live without art and music.</p>
    </div> 
</div>
