<div class="row"> </div>
<div class="row"> </div>
<div class="row"> </div>
<div class="row"> </div>

<footer class="page-footer z-depth-1">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                  <ul id="staggered-test">
                    <li><h5 class="white-text zh-blogTitle">{{@blog.title}}</h5></li>
                    <li><p class="grey-text text-lighten-4">{{@blog.description}}</p></li>
                  </ul>
                
                
              </div>
              <div class="col l4 offset-l2 s12">
                  
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container center-align">
            © 2016 BabyShung
            </div>
          </div>
        </footer>