
{{!< default}}

<div class="row"> </div>
<div class="row"> </div>
<div class="row">
{{! Not using blog logo}}
{{!--
{{#if @blog.logo}}
    <img src="{{@blog.logo}}" alt="" class="circle hoverable center-align" style="width:100px;height:100px;">
{{/if}}
--}}
</div>


