
<div class="row"> {{! Previous and Next page navigation}}
                <div class="col s12 m8 offset-m2 l10 offset-l1">
                    {{#next_post}}
                        <a href="{{url}}" class="right amber-text text-darken-2 hvr-icon-forward hvr-grow">
                                &nbsp;&nbsp;Newer                    
                        </a>
                    {{/next_post}}
                    {{#prev_post}}
                        <a href="{{url}}" class="left amber-text text-darken-2 hvr-icon-back hvr-grow">
                            Older&nbsp;&nbsp;
                        </a>
                    {{/prev_post}}
                    <div class="row"></div>
                </div>
            </div>

