{{! return to top}}
<div class="fixed-action-btn">
    <a id="return-to-top" class="zh-icon-wobble-vertical btn-floating btn-large waves-effect" style="display: none;"><i class="fa fa-arrow-up"></i></a>
</div>