<span class="zh-social-share">
    {{> "share-button-facebook"}}
    {{> "share-button-twitter"}}
    {{> "share-button-gplus"}}
    {{> "share-button-linkedin"}}
    {{> "share-button-pinterest"}}
    {{> "share-button-tumblr"}}
    {{> "share-button-stumbleupon"}}
</span>
