{{#if image}}
<a class="btn-floating" title="Pinterest" href="{{url absolute="true"}}" data-ihref="{{@blog.url}}{{image}}" count-layout="horizontal">
  <i class="fa fa-pinterest"></i>
</a>
{{/if}}
