{{! date control}}
<time class="card-date right blue-grey-text text-lighten-2" datetime="{{date format='MMM DD YYYY'}}">
    <div class="valign-wrapper">
        <i class="material-icons valign">&#xE192;&nbsp;</i> 
            {{date format='MMM DD YYYY'}}
    </div>
</time>