<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head}}
    {{ghost_head}}
  </head>
  <body>
    {{> nav_bar}}
    {{> header_home}} 
    {{{body}}}
      
    {{!--
    
    {{> header_post_page}}
    
    --}}
      
    {{> footer}}
    {{ghost_foot}}
  </body>
</html>
