{{!< default}}
<main class="container">
    
    <div class="row zh-dashboard-list">
        
        {{! First column}}
        <div id="dashboard-col-1" class="animated fadeInUp col s12 m7 l4">
        
            {{! About me}}
            {{> dashboard_aboutme}}

            {{! BOOKS BLOG}}
            {{> dashboard_books}}
            
            {{! Contact me}}
            {{> dashboard_contactme}}

        </div>
        
        {{! Second column}}
        <div id="dashboard-col-2" class="animated fadeInUp col s12 m7 l4">
            
            {{! GALLERY}}
            {{> dashboard_gallery}}  

            {{! Spotify playlist}}
            {{> dashboard_spotify}}

            {{! Projects}}
            {{> dashboard_projects}}
            
            {{! iOS Blog}}
            {{> dashboard_ios}}
        
        </div>
        
        {{! Third column}}
        <div id="dashboard-col-3" class="animated fadeInUp col s12 m7 l4">
          
            {{! thoughts blog}}
            {{> dashboard_thoughts}}

            {{! Youtube demo}}
            {{> dashboard_youtube}}
            
            {{! Vimeo demo}}
            {{> dashboard_vimeo}}  
            
    {{! End of Row}} 
    </div>
    
    {{! Floating Bottom Right Button}} 
    {{> shared_returnToTop}}
</div>
</main>
