{{!< default}}
<main class="container">
    
    <div class="row">
        
        {{! First column}}
        <div class="col s12 m7 l4">
        
            {{! About me}}
            {{> dashboard_aboutme}}

            {{! BOOKS BLOG}}
            {{> dashboard_books}}
            
            {{! Projects}}
            {{> dashboard_projects}}

        </div>
        
        {{! Second column}}
        <div class="col s12 m7 l4">
            
            {{! GALLERY}}
            {{> dashboard_gallery}}  

            {{! Spotify playlist}}
            {{> dashboard_spotify}}

            {{! iOS Blog}}
            {{> dashboard_ios}}
        
        </div>
        
        {{! Third column}}
        <div class="col s12 m7 l4">
          
            {{! thoughts blog}}
            {{> dashboard_thoughts}}

            {{! Youtube demo}}
            {{> dashboard_youtube}}
            
            {{! Vimeo demo}}
            {{> dashboard_vimeo}}  
            
    {{! End of Row}} 
    </div>
    
    {{! Floating Bottom Right Button}} 
    {{> returnToTop}}
</div>
</main>
