{{!< default}}
<main class="container">
    
    
    <div class="row">
        
        {{! About me}}
        {{> dashboard_aboutme}}
        
        {{! GALLERY}}
        {{> dashboard_gallery}}    
        
        {{! thoughts blog}}
        {{> dashboard_thoughts}}

    </div>
     <div class="row">
        {{! BOOKS BLOG}}
        {{> dashboard_books}}
        
        {{! Spotify playlist}}
        {{> dashboard_spotify}}
        
        {{! Youtube demo}}
        {{> dashboard_youtube}}
        
    </div>
    
    <div class="row">
        
          
        {{! Vimeo demo}}
        {{> dashboard_vimeo}}
        
        {{! iOS Blog}}
        {{> dashboard_ios}}
        
        {{! Projects}}
        {{> dashboard_projects}}
        
    {{! End of Row}} 
    </div>
    

    
    
    
    {{! Floating Bottom Right Button}} 
    <div class="fixed-action-btn horizontal">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
      <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
  </div>
</main>

