{{!< default}}

{{!-- This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. --}}

{{!-- Everything inside the #post tags pulls data from the page --}}
{{#post}}
<main class="container" >
    
    <div class="row animated fadeInUp zh-aboutme">
        <div class="col s12">
            <div class="card hoverable">
                
                {{! spacing}}
                <div class="row"></div>
                
                <div class="card-content center-align">
                    <article class="{{post_class}}">
                        <header class="">
                            <img src="{{asset "img/favicon.png"}}" alt="" class="circle hoverable">
                            <h4 class="valign">{{title}}</h4>
                        </header>
                    <section class="valign container left-align">
                        {{content}}
                    </section>
                    </article>
                </div>
                
                {{! spacing}}
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
            </div>
        </div>
    </div>
</main>
{{/post}}
