{{!< default}}

{{!-- This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. --}}

{{!-- Everything inside the #post tags pulls data from the page --}}
{{#post}}
<main class="container" >
    
    <div class="row">
        <div class="col s12">
            <div class="card hoverable">
            <div class="card-content center-align">
                <article class="{{post_class}}">
        <header class="">
            <h3 class="valign">{{title}}</h1>
        </header>
        <section class="valign">
            {{content}}
        </section>
    </article>
            </div>
            </div>

        </div>
      </div>
    
</main>
{{/post}}
