{{!< default}}
{{#post}}
<main class="container" >
    <div class="row animated fadeInUp zh-aboutme">
        <div class="col s12">
            <div class="card hoverable">
                
                {{! spacing}}
                <div class="row"></div>
                
                <div class="center-align">
                    <article class="{{post_class}}">
                        <header class="">
                            <img src="{{asset "img/favicon.png"}}" alt="" class="circle hoverable">
                            <h5 class="valign">{{title}}</h5>
                        </header>
                    <section class="valign container left-align">
                        {{content}}
                    </section>
                    </article>
                </div>
                
                {{! spacing}}
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
            </div>
        </div>
    </div>
</main>
{{/post}}
