{{!< default}}

{{! Booklist tag}}
<main class="zh-div-list">
    <div class="row animated fadeInUp">
        <div class="col s12 m12 l4 offset-l4">
            <div class="card Medium hoverable">
                <div class="card-action">
                    <h5 class="grey-text text-darken-1">My Book List</h5>
                </div>
               
                <div class="card-content center-align">
                    <h3>{{> shared_comingsoon}}</h3>
                </div>
                
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
            </div>
        </div>      
    </div>
</main>


    