
/** Elements **/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #f4f4f4!important;
  }

  main {
    flex: 1 0 auto;
  }

footer {
    background-color: #212121!important;
}

footer .footer-copyright {
    background-color: #2b2a2a!important;
}

/** Navi Bar **/

nav a.btn-floating {
    background-color: #212121!important;
    border-radius: 50%!important;
    height: 56px;
    min-width: 56px;
    width: 56px;
    margin: 0!important;
    padding: 0!important;
    overflow: hidden;
    display: inline-block!important;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0),0 2px 10px 0 rgba(0,0,0,0);
}

nav a.btn-floating:hover {
    background-color: #383636!important;
}

nav a.brand-logo, .zh-blogTitle, .zh-blogDescription {
	font-family: 'Dancing Script', cursive;
}

/** **/

.card, .card-action, .card .collection {
    border-radius: 6px;
}

.otherCopyRights {
    font-size: 10px!important;
}

.aboutButton {
    text-align:  center!important;
    background-color: #ffffff!important;
}

.card-action, .card-action a {
    text-transform: none!important;
}


/* ZH Icon Wobble Vertical */
@-webkit-keyframes zh-icon-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
  33.3% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes zh-icon-wobble-vertical  {
  16.65% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
  33.3% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.zh-icon-wobble-vertical  {
  display: inline-block;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.zh-icon-wobble-vertical :before {
  position: absolute;
  top: 0;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.zh-icon-wobble-vertical :hover:before, .zh-icon-wobble-vertical :focus:before, .zh-icon-wobble-vertical :active:before {
  -webkit-animation-name: zh-icon-wobble-vertical ;
  animation-name: zh-icon-wobble-vertical ;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Icon Spin*/
.zh-dashboard-spin i{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  padding-right: 3em;
  margin-right: 0px!important;
}
.zh-dashboard-spin i:before {

  content: "dashboard";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: Material Icons;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.zh-dashboard-spin:hover i:before, .zh-dashboard-spin i:focus:before, .zh-dashboard-spin i:active:before {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

/* customized Animate.css */

.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-30%, 0, 0);
    transform: translate3d(-30%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-30%, 0, 0);
    transform: translate3d(-30%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  animation-timing-function: ease-in;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(30%, 0, 0);
    transform: translate3d(30%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(30%, 0, 0);
    transform: translate3d(30%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  animation-timing-function: ease-out;
}

nav a i.zh-nav-dashboard-icon {
    -webkit-animation-delay:2.8s;
    animation-delay:2.8s
}

.zh-div-list div.row:nth-child(1){
    -webkit-animation-delay:0.3s;
    animation-delay:0.3s
}

.zh-div-list div.row:nth-child(2){
    -webkit-animation-delay:0.4s;
    animation-delay:0.4s
}

.zh-div-list div.row:nth-child(3){
    -webkit-animation-delay:0.5s;
    animation-delay:0.5s
}

.zh-div-list div.row:nth-child(4){
    -webkit-animation-delay:0.6s;
    animation-delay:0.6s
}

.zh-div-list div.row:nth-child(5){
    -webkit-animation-delay:0.7s;
    animation-delay:0.7s
}

.zh-div-list div.row:nth-child(6){
    -webkit-animation-delay:0.8s;
    animation-delay:0.8s
}

.zh-div-list div.row:nth-child(7){
    -webkit-animation-delay:0.9s;
    animation-delay:0.9s
}

.zh-div-list div.row:nth-child(8){
    -webkit-animation-delay:1.0s;
    animation-delay:1.0s
}

.zh-div-list div.row:nth-child(9){
    -webkit-animation-delay:1.1s;
    animation-delay:1.1s
}

.zh-div-list div.row:nth-child(10){
    -webkit-animation-delay:1.2s;
    animation-delay:1.2s
}

/**
ul.zh-nav-icons-list li {
    .animated;
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}
**/

ul.zh-nav-icons-list li:nth-child(1){
    -webkit-animation-delay:1.4s;
    animation-delay:1.4s
}

ul.zh-nav-icons-list li:nth-child(2){
    -webkit-animation-delay:1.5s;
    animation-delay:1.5s
}

ul.zh-nav-icons-list li:nth-child(3){
    -webkit-animation-delay:1.6s;
    animation-delay:1.6s
}

ul.zh-nav-icons-list li:nth-child(4){
    -webkit-animation-delay:1.7s;
    animation-delay:1.7s
}

ul.zh-nav-icons-list li:nth-child(5){
    -webkit-animation-delay:1.8s;
    animation-delay:1.8s
}

ul.zh-nav-icons-list li:nth-child(6){
    -webkit-animation-delay:1.9s;
    animation-delay:1.9s
}

ul.zh-nav-icons-list li:nth-child(7){
    -webkit-animation-delay:2.0s;
    animation-delay:2.0s
}

ul.zh-nav-icons-list li:nth-child(8){
    -webkit-animation-delay:2.1s;
    animation-delay:2.1s
}

ul.zh-nav-icons-list li:nth-child(9){
    -webkit-animation-delay:2.2s;
    animation-delay:2.2s
}

ul.zh-nav-icons-list li:nth-child(10){
    -webkit-animation-delay:2.3s;
    animation-delay:2.3s
}

ul.zh-nav-icons-list li:nth-child(11){
    -webkit-animation-delay:2.4s;
    animation-delay:2.4s
}

#collection-col-1 {
    -webkit-animation-delay:0.3s;
    animation-delay:0.3s
}

#collection-col-2 {
    -webkit-animation-delay:1.0s;
    animation-delay:1.0s
}


#collection-col-3 {
    -webkit-animation-delay:0.7s;
    animation-delay:0.7s
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  animation-timing-function: ease-out;
}

/**   **/

.zh-indicator {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -19px; /* -1 * image width / 2 */
  margin-top: -19px; /* -1 * image height / 2 */
}

.zh-aboutme {
    -webkit-animation-delay:0.4s;
    animation-delay:0.4s;
}

.zh-aboutme section {
    font-size: 1.2em!important;
}

.zh-declaration li{
    font-size: 0.8em!important;
}

/** Social media**/

.zh-social-share .btn-floating {
  margin-right: 10px!important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.zh-social-share .fa-facebook {
  background-color: #3b5998!important;
}

.zh-social-share .fa-google-plus {
  background-color: #dd4b39!important;
}

.zh-social-share .fa-linkedin {
  background-color: #007bb6!important;
}

.zh-social-share .fa-pinterest {
  background-color: #cb2027!important;
}

.zh-social-share .fa-stumbleupon {
  background-color: #EB4823!important;
}

.zh-social-share .fa-tumblr {
  background-color: #32506d!important;
}

.zh-social-share .fa-twitter {
  background-color: #00aced!important;
}


